# temporary files
**/*.*~
**/#*.*#
**/.DS_Store
**/.RData
**/.Rhistory
**/*.rds

# images & data files
analysis/**/*.pdf
analysis/**/*.png
analysis/**/*.jpg
**/*.txt
**/*.csv
analysis/mturk/data
**/*.aux
**/*.bbl
**/*.blg
**/*.log
**/*.out
papers/PBR-2019/old